:root {
    --cafe: #935700;
    --white: #FFFAF4;
    --black: #303030;

}

body {
    background-color: var(--cafe);
}

header h1{
    background-color: #4CAF50;
}

header h1 {
    display: flex;
    justify-content: center;
    color: var(--white);
}

.btn-menu {
    display: flex;
    justify-content: center;

}

.btn-menu:hover> :not(:hover) {
    opacity: 4;
    transform: scale(0.9);
}

.btn-menu button {
    margin: 10px;
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: 5px;

    /* efecto  */
    transition: .35s;
    cursor: pointer;
}

.btn-menu button:hover {
    font-weight: bold;
    color: var(--black);
}

.cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 30px;

}

.card-menu {
    width: 300px;
    height: 400px;
    padding: 10px;
    box-shadow: -2px 7px 13px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: -2px 7px 13px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: -2px 7px 13px 0px rgba(0, 0, 0, 0.22);
}

.card-menu img {
    height: 10rem;

}

.card-body {
    display: inline-block;
}

#boton-comentarios {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
  }
  
  #contenedor-comentarios {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .oculto {
    transform: translateX(-100%);
  }
  
  .comentario {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .comentarios-usuarios {
    margin-bottom: 2rem;
  }
  .comentarios-usuarios p {
    font-size: 14px;
    text-align: justify;
  }
  .comentarios-usuarios h5{
    font-size: 14px;
  }