body {
    font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
}
header h1 {
    display: flex;
    justify-content: center;
}
.btn-menu {
    display: flex;
    justify-content: center;
}
.btn-menu button {
    margin: 10px;
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: 5px;
}

.btn-menu button:active{
    background-color: aliceblue;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 10px 30px;
    margin: 3rem;
}

.card-menu {
    margin: 1rem;
}

